.container{
    border: 1px solid black;
    text-align: center;
    margin: 10% 30%;
    padding: 2%;
}

.container2{
    border: 1px solid black;
    text-align: center;
    margin: 10% 15%;
    padding: 2%;
}

.container3{
    border: 1px solid black;
    margin: 8% 15%;
    padding: 2%;
}

.nav{
    margin: 20px;
}

#logout_btn{
    float: right;
}